*{
    box-sizing: border-box;
}
.container{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7,minmax(100px,auto));
    grid-template-areas: 
    "h h h h "
    "h h h h "
    "n m m s "
    "n m m s "
    "n m m a "
    "n m m a "
    "f f f f "
    ;
}

.container>div {
    border-radius: 10px;
}
.header {
    grid-area: h ;
    background-image: url('Header\ Image.webp') ;
    background-size: cover;
    min-height: 40vh;
}

.banner {
    color: white;
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
    float: right;
    width: 50%;
    text-align: center;
    padding: 1em;
}
        
.navmenu {
    grid-area: n;
    background-color: honeydew;
    font-size: 1.2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0 1em;
}

.navmenu>h2 {
    text-align: center;
}

.navmenu ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 0.2em 0;
}

.navmenu>ul>li {
    padding: 0.1em;
    color: darkslategray;
}

.navmenu a{
    color: rgb(148, 49, 19);
    text-decoration: none;
}

.navmenu a:hover {
    cursor: pointer;
    font-weight: bolder;
    color: darkcyan;
}

.main {
    grid-area: m;
    background-color: #EAEFF2;
    height: 100vh;
    overflow-y: scroll;
}

.post {
    margin: 1em;
    padding-left: 1em;
    padding-right: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.2em;
    text-align: justify;
}

.post img {
    width: 15vw;
    min-height: 150px;
}

.left {
    float: left;
    padding: 0 1.5em 1em 0;
}

.right {
    float: right;
    padding: 0 0 1em 1.5em;
}

.sidebar {
    grid-area: s;
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
}

.sidebar>h3 {
    text-align: center;
}

.sidebar iframe{
    display: block;
    margin: auto;
    min-width: 20em;
    width: 100%;
    height: 80%;
}

.advbar {
    grid-area: a;
    background-color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 60vh;
    overflow-y: scroll;
}

.advbar>h3 {
    text-align: center;
}

.advbar img {
    width: 100%;
}

.footer {
    grid-area: f;
    background-color: lightgrey;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer>div {
    display: inline-block;
    padding: 0 2em;
}

.footer>div>ul {
    display: inline-block;
    list-style: none;
    padding: 0 5em;
}

.footer a {
    text-decoration: none;
}

.footer a:hover {
    font-size: bolder;
    color: dodgerblue;
}

.contact {
    width: 30%;
}

.v1{
    border-left: 2px solid gray;
    height: 10vh;
}

/* Small devices (mobile phones, 414px and below) */
@media only screen and (max-width: 414px) {
    .container {
        grid-template-areas:
        "h h h h"
        "m m m m"
        "m m m m"
        "m m m m"
        "s s s s"
        "a a a a"
        "f f f f";
    }
    .banner {
        width: 100%;
    }
    .navmenu {
        display: none;
    }
}

@media only screen and (max-width: 768px) and (min-width: 415px) {
    .container {
        grid-template-areas:
        "h h h h"
        "m m m m"
        "m m m m"
        "s s a a"
        "f f f f";
    }
    .banner {
        width: 100%;
    }
    .navmenu {
        display: none;
    }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
    .container {
        grid-template-areas:
        "h h h h"
        "n n m m"
        "n n m m"
        "s s a a"
        "f f f f";
    }
}
